# =========================
# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Application Files
# =========================
~$*.xlsx
~$*.docx
.~lock*
.notes
*.xpr

# =========================
# exist-db
# =========================
build/
*.code-workspace

# =========================
# tei-publisher
# =========================

build
transform
node_modules
resources/scripts/*.js
resources/scripts/*.map
resources/lib/
resources/css/leaflet/
resources/css/prismjs
resources/images/openseadragon
resources/images/leaflet
resources/i18n/common
