# =========================
# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Application Files
# =========================
~$*.xlsx
~$*.docx
.~lock*
.notes
*.xpr
*.bak

# =========================
# java
# =========================
.java-version

# =========================
# node
# =========================
node_modules/

*.code-workspace
src/three_times_to_jiangnan/xquery/debugging.xquery
